[submodule "STM32/src/Arduino_Core_STM32"]
	path = STM32/src/Arduino_Core_STM32
	url = https://github.com/stm32duino/Arduino_Core_STM32
[submodule "STM32/src/Arduino_Tools"]
	path = STM32/src/Arduino_Tools
	url = https://github.com/stm32duino/Arduino_Tools
